{% extends "/layouts/layout.html.twig" %}

{% block css %}  <link rel="stylesheet" href="assets/css/add.css">  {% endblock %}


{% block page_name %}Nouvelle tâche{% endblock %}

{% block content %}

<!-- Titre de la page -->
    <div class="m-auto add_form">
        {{ form_start(form) }}
            <!-- Tâche à faire -->
            <div>{{ form_label(form.title) }}</div>
            <div>{{ form_widget(form.title) }}</div>
            <!-- Urgence de la tâche -->
            <div>{{ form_label(form.status) }}</div>
            <div>{{ form_widget(form.status) }}</div>

        <div class="text-center fixed-bottom mb-5">
            <a href="{{ path('dashboard') }}" class="previous">Retour</a>
            <button type="submit" for="tasks">Valider</button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}