{% extends "/layouts/layout.html.twig" %}

{% block title %}TodoList - Edition{% endblock %}

{% block page_name %}Édition{% endblock %}

{% block content %}



    {% if is_granted('ROLE_USER') %}
        <div class="content_edit">
            <div class="m-auto add_form">
                {{ form_start(form) }}
                <!-- Tâche à faire -->
                <div>{{ form_label(form.title) }}</div>
                <div>{{ form_widget(form.title) }}</div>

                <!-- Urgence de la tâche -->
                <div>{{ form_label(form.status) }}</div>
                <div>{{ form_widget(form.status) }}</div>

                <div class="text-center fixed-bottom mb-5">
                    <a href="{{ path('tasks_index') }}" class="previous">Retour</a>
                    <button class="next button" type="submit">{{ 'Valider' }}</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
